{% extends 'base.html' %}

{% block body %}
<h1 style="text-align:center">Hello TemplateView</h1>
    <div style="text-align:center">
        <h1>
            Name: {{name}}
        </h1>
        <h2>
            Country: {{country}}
        </h2>
        <div>
            <p>
            {% for num in list %}
            {% if num > 3 %}
            <h{{num}}>Hello Sohel</h{{num}}>
            {% else %}
            <h{{num}}>{{num}}Hello Sumon</h{{num}}>
            {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}